<div class="sign-in-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-subtitle>Please enter the required fields to sign in.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (submit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Username" id="username" name="username" required formControlName="username">
          <mat-error *ngIf="isInvalidControl(form, 'username')">{{ errorMessagesForControl(form, 'username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" id="password" name="password" required formControlName="password" type="password">
          <mat-error *ngIf="isInvalidControl(form, 'password')">{{ errorMessagesForControl(form, 'password')}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign In</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
