<form [formGroup]="firstFormGroup" (ngSubmit)="submitSample()">
  <mat-form-field appearance="fill">
    <mat-label>Sample Code:</mat-label>
    <input matInput formControlName="code" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sample Type:</mat-label>
    <input matInput formControlName="type" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Patient ID:</mat-label>
    <input matInput formControlName="patientId" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Doctor Id:</mat-label>
    <input matInput formControlName="doctorId" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date:</mat-label>
    <input matInput formControlName="date" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
