<mat-card class="principal_card">
<mat-card-title class="principal-title">
  Treatments
</mat-card-title>
<div class="card-container-vertical">
  <div class="data-separation">
    <mat-card class="dates">
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="treatments-details-separation">
    <mat-card class="treatments-details">
      <mat-card-content>
        <mat-card-title class="treatments-details-title">
          TREATMENTS DETAILS
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</mat-card>
