<div class="appointment-review">
  <h2>APPOINTMENT REVIEW</h2>
  <mat-form-field appearance="fill">
    <mat-label>Name of the patient</mat-label>
    <input matInput placeholder="Name of the patient" readonly value="{{patientName}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date of the appointment</mat-label>
    <input matInput placeholder="Date of the appointment" readonly value="{{appointment?.date}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Notes of the appointment</mat-label>
    <textarea matInput placeholder="Reason of the appointment" [(ngModel)]="note"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="navigateBack()">Back</button>
  <button mat-raised-button color="primary" (click)="addNote()">Add Note</button>
</div>
