<div class="appointment-review">
  <h2>APPOINTMENT REVIEW</h2>
  <mat-form-field appearance="fill">
    <mat-label>Name of the patient</mat-label>
    <input matInput placeholder="Name of the patient" readonly value="Jhon Doe">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>DNI</mat-label>
    <input matInput placeholder="DNI" readonly value="123456789">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Edad</mat-label>
    <input matInput type="number" placeholder="Edad" readonly value="34">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telephone number</mat-label>
    <input matInput placeholder="Telephone number" readonly value="123456789">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date of the appointment</mat-label>
    <input matInput type="date" placeholder="Date of the appointment" readonly value="12/12/24">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Hour</mat-label>
    <input matInput type="time" placeholder="Hour" readonly value="1:00">
  </mat-form-field>

  <mat-radio-group aria-labelledby="in-a-treatment-label">
    <mat-label id="in-a-treatment-label">In a treatment?</mat-label>
    <mat-radio-button value="yes">Yes</mat-radio-button>
    <mat-radio-button value="no">No</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Treatment description (if is in a treatment)</mat-label>
    <textarea matInput placeholder="Treatment description" readonly value="No tiene"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Notes of the appointment</mat-label>
    <textarea matInput placeholder="Notes of the appointment"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="navigateBack()">End appointment</button>
</div>
