<mat-card class="mat-card-container">
  <mat-card-header class="header-content">
    <div >
      <button class="profile-button">
        <img class="profile-image" src="https://cdn-icons-png.flaticon.com/128/11386/11386227.png" alt="Profile image">
      </button>
    </div>
    <div>
      <button class="appointment-button">
        <img class= "appointment-image" src="https://cdn-user-icons.flaticon.com/40884/40884761/1714536709581.svg?token=exp=1714537610~hmac=66ce8a0322beae9ec4dd52f72f25acff" alt="Calendar icon">
        <p>Schedule an appointment</p>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h1>History</h1>
      <br>
      <p>View your dating history... Upcoming and Past. Use the filters to locate them faster!</p>
    </div>
    <br>
    <div>
      <mat-card class="mat-card-filters">
        <div class="grid-container">
          <div class="filters">
            <mat-label class="label">Patient:</mat-label>
            <select class="select-bar">
              <option></option>
            </select>
          </div>
          <div class="filters">
            <mat-label class="label">Campus:</mat-label>
            <select class="select-bar">
              <option></option>
            </select>
          </div>
          <div class="filters">
            <mat-label class="label">Speciality:</mat-label>
            <select class="select-bar">
              <option></option>
            </select>
          </div>
          <div class="filters">
            <mat-label class="label">State:</mat-label>
            <select class="select-bar">
              <option></option>
            </select>
          </div>
        </div>
      </mat-card>
    </div>
    <br><br>
    <h2>Results:</h2>
    <div>
      <table matSort mat-table [dataSource]="dataSource" class="mat-table">

        <ng-container matColumnDef="patientName">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Patient</th>
          <td mat-cell *matCellDef="let element">{{ element.historyId}}</td>
        </ng-container>

        <ng-container matColumnDef="campus">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Campus</th>
          <td mat-cell *matCellDef="let element">Dr. {{ element.doctorName}}</td>
        </ng-container>

        <ng-container matColumnDef="speciality">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Speciality</th>
          <td mat-cell *matCellDef="let element">{{ element.historyReason}}</td>
        </ng-container>

        <ng-container matColumnDef="doctorName">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Doctor</th>
          <td mat-cell *matCellDef="let element">{{ element.historyDate}}</td>
        </ng-container>

        <ng-container matColumnDef="dateTime">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Date & Time</th>
          <td mat-cell *matCellDef="let element">{{ element.historyDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <br>
  <mat-card-footer class="footer">
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
