<mat-card class="principal_card">

  <div class="divisor_ct">
    <mat-card class="current_treatments">
      <mat-card-title>Current treatments</mat-card-title>
      <br>
      <div class="slider">
        <mat-card-content>
          <div class="card-container-horizontal">
            <mat-card *ngFor="let treatment of treatments">
              <mat-card-title class="titles">{{treatment.treatmentName}}</mat-card-title>
              <mat-card-content>
                <p><b>Patient's name: </b> {{treatment.id}}</p>
                <p><b>Description: </b> {{treatment.description}}</p>
                <p><b>Star date: </b> {{treatment.startDate}}</p>
                <p><b>End date: </b> {{treatment.endDate}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </div>

    </mat-card>
  </div>

  <div class="card-container">
    <div class="divisor_at">
      <mat-card class="add_treatments">
        <mat-card-title>Add treatments</mat-card-title>
        <mat-card-content>
          <mat-label>DNI of patient:
            <input type="text">
          </mat-label>

          <mat-label>Name of treatment:
            <input type="text">
          </mat-label>
          <mat-label>Dose:
            <input type="text">
          </mat-label>
          <mat-label>Frequency:
            <input type="text">
          </mat-label>
          <mat-label>Duration:
            <input type="text">
          </mat-label>

          <mat-label>Notes: </mat-label>
          <input class="notes" type="text" >
          <div class="button_add">
            <button mat-raised-button color="warn">Add</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="card-container-vertical">

      <div class="divisor_rt">
        <mat-card class="remove_treatment">
          <mat-card-title>
            Remove treatment
            <mat-card-content>
              <mat-label>
                Treatment list:
              </mat-label>
              <select class="select-to-remove-treatment">
                <option value="" disabled selected hidden>Select an option</option>
                <option *ngFor="let treatment of treatments" >{{treatment}}</option>
              </select>
              <div class="button_remove">
                <button mat-raised-button color="warn">Remove</button>
              </div>
            </mat-card-content>
          </mat-card-title>
        </mat-card>
      </div>

      <div class="divisor_th">
        <mat-card class="treatment_history" >
          <mat-card-title>
            Treatment history
          </mat-card-title>
          <div class="slider">
            <mat-card-content *ngFor="let treatment of treatments" >
              <mat-card class="card-container-lower-container">
                <mat-card-content>
                  <p><b>Patient's name: </b> {{treatment.patientId}}</p>
                  <p><b>Description: </b> {{treatment.description}}</p>
                  <p><b>Start date: </b> {{treatment.startDate}}</p>
                  <p><b>End date: </b> {{treatment.endDate}}</p>

                </mat-card-content>

              </mat-card>
              <div class="arrow-button">
                <span class="material-symbols-outlined">arrow_drop_down</span>
              </div>

            </mat-card-content>

          </div>

        </mat-card>
      </div>

    </div>

  </div>

</mat-card>
