<mat-sidenav-container>
  <mat-sidenav opened mode="side" >
    <div class="sidenav-header">
      <img width="100" height="100" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
      <div class="header-text">
        <h2>Username</h2>
        <p>DNI</p>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let option of options" [routerLink]="option.path">
        <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
        <span>{{ option.title }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>

