<mat-card>
  <mat-card-title>Analysis Search</mat-card-title>
  <mat-card-header>
    <div class="info-inputs">
      <mat-label>ID</mat-label>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" />
      </mat-form-field>
    </div>
    <div class="info-inputs">
      <mat-label>Patient DNI</mat-label>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" />
      </mat-form-field>
    </div>
    <div class="info-inputs">
      <mat-label>Day</mat-label>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" />
      </mat-form-field>
    </div>
    <div class="info-inputs">
      <mat-label>..</mat-label>
      <button mat-raised-button color="primary">Search</button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="analysisId">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="examType">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Exam Type</th>
        <td mat-cell *matCellDef="let element">{{ element.examType}}</td>
      </ng-container>

      <ng-container matColumnDef="sampleId">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Sample ID</th>
        <td mat-cell *matCellDef="let element">{{ element.sampleId}}</td>
      </ng-container>

      <ng-container matColumnDef="patientDni">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Patient Dni</th>
        <td mat-cell *matCellDef="let element">{{ element.patientDni}}</td>
      </ng-container>

      <ng-container matColumnDef="analysisDate">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Analysis Date</th>
        <td mat-cell *matCellDef="let element">{{ element.analysisDate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <br>
  <button mat-raised-button color="primary" (click)="navigateToCreateAnalysis()">Back</button>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
